html,
body {
  height: 100%;
  margin: 0;
}

#c {
  width: 100%;
  height: 100%;
  display: block;
}

#screenshot {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  border: 1px solid gray;
  cursor: pointer;
}

#screenshot:hover {
  background: #444;
}

#screenshot:focus {
  outline: none;
}
