@media screen and (min-width: 960px) and (max-width: 1920px) {
  html {
    font-size: calc(12px + 2 * (100vw - 960px) / 960);
  }
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 14px;
  }
}

body iframe {
  pointer-events: none;
}

.displayerContainer {
  width: 500px;
  margin: auto;

  .displayer {
    width: 500px;
    height: 281px;
  }
}
