# This is a basic workflow to help you get started with Actions

name: build-and-deploy

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # 切代码
    - name: Checkout
      uses: actions/checkout@v2
    # 打印 yarn 缓存位置
    - name: Yarn cache directory
      id: yarn-cache-dir
      run: echo "::set-output name=dir::$(yarn cache dir)"
    # 缓存 yarn
    - name: Yarn cache
      uses: actions/cache@v2
      id: yarn-cache
      with:
        path: ${{ steps.yarn-cache-dir.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    # 缓存项目
    - name: Caching Gatsby
      id: gatsby-cache-build
      uses: actions/cache@v2
      with:
        path: |
          public
          .cache
          node_modules
        key: ${{ runner.os }}-gatsby-site-build-${{ secrets.CACHE_VERSION }}-${{ github.run_id }}
        restore-keys: |
          ${{ runner.os }}-gatsby-site-build-${{ secrets.CACHE_VERSION }}
    # 切换版本
    - name: Setup node version
      uses: actions/setup-node@v2
      with:
        node-version: "10"
    # 编译项目
    - name: Build blog
      run: yarn install --pure-lockfile && yarn build
    # 构建部署代码
    - name: Build and Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@releases/v2
      env:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
        ALGOLIA_SEARCH_ONLY_API_KEY: ${{ secrets.ALGOLIA_SEARCH_ONLY_API_KEY }}
        ALGOLIA_ADMIN_API_KEY: ${{ secrets.ALGOLIA_ADMIN_API_KEY }}
        ALGOLIA_INDEX_NAME: ${{ secrets.ALGOLIA_INDEX_NAME }}
        BRANCH: gh-pages
        FOLDER: public
    # 上传压缩包
    # - name: Archive production artifacts
    #   uses: actions/upload-artifact@v1
    #   with:
    #     name: public
    #     path: public
